<domain type='lxc'>
  <name>{{ hostname }}</name>
  <memory unit='GB'>{{ mem }}</memory>
  <os>
    <type>exe</type>
    <init>/sbin/init</init>
  </os>
  <vcpu>{{ cpu }}</vcpu>
  <clock offset='utc'/>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>destroy</on_crash>
  <devices>
    <emulator>/usr/libexec/libvirt_lxc</emulator>
    <filesystem type='mount'>
      <source dir='/var/lib/lxc/{{ hostname }}/rootfs/' />
      <target dir='/'/>
    </filesystem>
    <interface type='network'>
      <source network='{{ domain }}'/>
      <target dev="vnet{{ ip_prefix.split('.')[-1] }}{{ "%02d" % (ip_suffix - 100) }}" />
      <mac address="00:11:22:33:44:{{ "%02d" % (ip_suffix - 100) }}" />
      <ip address="{{ ip_prefix }}.{{ ip_suffix }}" netmask="255.255.255.0" />
    </interface>
    <console type='pty' />
  </devices>
</domain>
