[project]
	description = The software-factory Project
[access "refs/heads/*"]
	label-Approved = +0..+1 group SoftwareFactory-core
	label-Code-Review = -2..+2 group SoftwareFactory-core
	label-Verified = -1..+1 group Non-Interactive Users
	submit = group SoftwareFactory-core
	read = group Registered Users
[access "refs/*"]
	owner = group SoftwareFactory-ptl
	read = group SoftwareFactory-core
	pushTag = group SoftwareFactory-ptl
[access "refs/meta/config"]
	read = group Registered Users
[submit]
	action = rebase if necessary
