pip

bash8
mock
nose
nose-timer
pytest
pytest-xdist
python-redmine
pyvirtualdisplay
pyyaml
requests[security]
selenium
six
-e git+https://github.com/redhat-cip/pysflib.git#egg=pysflib
-e git+https://github.com/morucci/pygerrit.git#egg=pygerrit
