alsa-lib
apr
apr-util
atk
atlas
attr
augeas-libs
autogen-libopts
avahi-libs
blas
boost-program-options
boost-system
boost-thread
bootswatch-common
bootswatch-fonts
bridge-utils
bzip2
cairo
celt051
conntrack-tools
crudini
cryptsetup
cups-libs
cyrus-sasl
cyrus-sasl-md5
device-mapper
device-mapper-event
device-mapper-event-libs
device-mapper-libs
device-mapper-persistent-data
dibbler-client
dnsmasq-utils
dosfstools
ebtables
erlang
erlang-appmon
erlang-asn1
erlang-common_test
erlang-compiler
erlang-cosEvent
erlang-cosEventDomain
erlang-cosFileTransfer
erlang-cosNotification
erlang-cosProperty
erlang-cosTime
erlang-cosTransactions
erlang-crypto
erlang-debugger
erlang-dialyzer
erlang-diameter
erlang-edoc
erlang-eldap
erlang-erl_docgen
erlang-erl_interface
erlang-erts
erlang-et
erlang-eunit
erlang-examples
erlang-gs
erlang-hipe
erlang-ic
erlang-inets
erlang-jinterface
erlang-kernel
erlang-megaco
erlang-mnesia
erlang-observer
erlang-odbc
erlang-orber
erlang-os_mon
erlang-otp_mibs
erlang-parsetools
erlang-percept
erlang-pman
erlang-public_key
erlang-reltool
erlang-runtime_tools
erlang-sasl
erlang-sd_notify
erlang-snmp
erlang-ssh
erlang-ssl
erlang-stdlib
erlang-syntax_tools
erlang-test_server
erlang-toolbar
erlang-tools
erlang-tv
erlang-typer
erlang-webtool
erlang-wx
erlang-xmerl
facter
flac-libs
fontawesome-fonts
fontawesome-fonts-web
fontconfig
fontpackages-filesystem
fuse
fuse-libs
galera
gd
gdisk
gdk-pixbuf2
genisoimage
ghostscript
ghostscript-fonts
glusterfs
glusterfs-api
glusterfs-client-xlators
glusterfs-libs
gnutls-dane
gnutls-utils
gperftools-libs
graphite2
graphviz
gsm
gtk2
harfbuzz
hicolor-icon-theme
hiera
hivex
httpd
httpd-tools
hwdata
icoutils
ipmitool
ipset
ipset-libs
iptables-services
ipxe-roms-qemu
iscsi-initiator-utils
iscsi-initiator-utils-iscsiuio
jasper-libs
keepalived
lapack
lcms2
ldns
libaio
libasyncns
libdrm
liberasurecode
libfontenc
libgfortran
libguestfs
libibverbs
libICE
libicu
libiscsi
libnetfilter_cthelper
libnetfilter_cttimeout
libnetfilter_queue
libnl
libogg
libosinfo
libpciaccess
libpng
libquadmath
librados2
librbd1
librdmacm
libreport-filesystem
librsvg2
libseccomp
libselinux-ruby
libSM
libsndfile
libthai
libtool-ltdl
libunwind
libusal
libusbx
libvirt-client
libvirt-daemon
libvirt-daemon-config-nwfilter
libvirt-daemon-driver-interface
libvirt-daemon-driver-network
libvirt-daemon-driver-nodedev
libvirt-daemon-driver-nwfilter
libvirt-daemon-driver-qemu
libvirt-daemon-driver-secret
libvirt-daemon-driver-storage
libvirt-daemon-kvm
libvirt-python
libvorbis
libX11
libX11-common
libXau
libXaw
libxcb
libXcomposite
libXcursor
libXdamage
libXext
libXfixes
libXfont
libXft
libXi
libXinerama
libxml2-python
libXmu
libXpm
libXrandr
libXrender
libxshmfence
libxslt
libxslt-python
libXt
libXtst
libXxf86vm
lksctp-tools
lm_sensors-libs
lsof
lsscsi
lvm2
lvm2-libs
lzop
mailcap
mariadb
mariadb-common
mariadb-errmsg
mariadb-server
mariadb-server-galera
mdadm
mdi-common
mdi-fonts
memcached
mesa-libEGL
mesa-libgbm
mesa-libGL
mesa-libglapi
mesa-libGLU
mod_wsgi
mtools
MySQL-python
netcf-libs
netpbm
netpbm-progs
net-snmp-agent-libs
net-snmp-libs
nmap-ncat
novnc
numad
numpy
numpy-f2py
OpenIPMI-modalias
openstack-cinder
openstack-dashboard
openstack-glance
openstack-heat-api
openstack-heat-common
openstack-heat-engine
openstack-keystone
openstack-neutron
openstack-neutron-common
openstack-neutron-metering-agent
openstack-neutron-ml2
openstack-neutron-openvswitch
openstack-nova-api
openstack-nova-cert
openstack-nova-common
openstack-nova-compute
openstack-nova-conductor
openstack-nova-console
openstack-nova-novncproxy
openstack-nova-scheduler
openstack-packstack
openstack-selinux
openstack-swift
openstack-swift-account
openstack-swift-container
openstack-swift-object
openstack-swift-plugin-swift3
openstack-swift-proxy
openstack-utils
openvswitch
pango
pciutils
perl
perl-Business-ISBN
perl-Business-ISBN-Data
perl-Carp
perl-Compress-Raw-Bzip2
perl-Compress-Raw-Zlib
perl-constant
perl-Data-Dumper
perl-DBD-MySQL
perl-DBI
perl-Digest
perl-Digest-MD5
perl-Encode
perl-Encode-Locale
perl-Exporter
perl-File-Listing
perl-File-Path
perl-File-Temp
perl-Filter
perl-Getopt-Long
perl-hivex
perl-HTML-Parser
perl-HTML-Tagset
perl-HTTP-Cookies
perl-HTTP-Daemon
perl-HTTP-Date
perl-HTTP-Message
perl-HTTP-Negotiate
perl-HTTP-Tiny
perl-IO-Compress
perl-IO-HTML
perl-IO-Socket-IP
perl-IO-Socket-SSL
perl-libs
perl-libwww-perl
perl-LWP-MediaTypes
perl-macros
perl-Net-Daemon
perl-Net-HTTP
perl-Net-LibIDN
perl-Net-SSLeay
perl-parent
perl-PathTools
perl-PlRPC
perl-Pod-Escapes
perl-podlators
perl-Pod-Perldoc
perl-Pod-Simple
perl-Pod-Usage
perl-Scalar-List-Utils
perl-Socket
perl-Storable
perl-Text-ParseWords
perl-threads
perl-threads-shared
perl-TimeDate
perl-Time-HiRes
perl-Time-Local
perl-URI
perl-WWW-RobotRules
pixman
poppler-data
psmisc
pulseaudio-libs
puppet
PyPAM
pyparsing
pysendfile
python2-appdirs
python2-castellan
python2-debtcollector
python2-eventlet
python2-fasteners
python2-funcsigs
python2-futurist
python2-gflags
python2-google-api-client
python2-greenlet
python2-iso8601
python2-keystoneauth1
python2-mock
python2-oauth2client
python2-openstacksdk
python2-os-brick
python2-os-client-config
python2-oslo-cache
python2-oslo-concurrency
python2-oslo-config
python2-oslo-context
python2-oslo-db
python2-oslo-i18n
python2-oslo-log
python2-oslo-messaging
python2-oslo-middleware
python2-oslo-policy
python2-oslo-reports
python2-oslo-rootwrap
python2-oslo-serialization
python2-oslo-service
python2-oslo-utils
python2-oslo-versionedobjects
python2-oslo-vmware
python2-passlib
python2-pecan
python2-pika
python2-pika_pool
python2-positional
python2-pyasn1-modules
python2-PyMySQL
python2-requestsexceptions
python2-rsa
python2-singledispatch
python2-suds
python2-uri-templates
python2-wsme
python2-XStatic-bootswatch
python2-XStatic-mdi
python2-XStatic-roboto-fontface
python2-zake
python-alembic
python-amqp
python-amqplib
python-anyjson
python-automaton
python-babel
python-beaker
python-cachetools
python-ceilometerclient
python-cinder
python-cinderclient
python-cliff
python-cliff-tablib
python-cmd2
python-configshell
python-contextlib2
python-croniter
python-crypto
python-dateutil
python-devel
python-django
python-django-appconf
python-django-bash-completion
python-django-compressor
python-django-horizon
python-django-openstack-auth
python-django-pyscss
python-dns
python-dogpile-cache
python-dogpile-core
python-ecdsa
python-editor
python-ethtool
python-extras
python-fixtures
python-futures
python-glance
python-glanceclient
python-glance-store
python-heatclient
python-httplib2
python-inotify
python-jinja2
python-jsonschema
python-kazoo
python-keyring
python-keystone
python-keystoneclient
python-keystonemiddleware
python-kmod
python-kombu
python-ldap
python-ldappool
python-lesscpy
python-libguestfs
python-linecache2
python-lockfile
python-logutils
python-lxml
python-mako
python-markupsafe
python-memcached
python-migrate
python-mimeparse
python-monotonic
python-msgpack
python-ncclient
python-netifaces
python-networkx
python-networkx-core
python-neutron
python-neutronclient
python-neutron-lib
python-nose
python-nova
python-novaclient
python-oauthlib
python-openstackclient
python-openvswitch
python-osprofiler
python-paramiko
python-paste
python-paste-deploy
python-pathlib
python-pbr
python-pint
python-posix_ipc
python-psutil
python-pycadf
python-pyeclib
python-pysaml2
python-qpid
python-qpid-common
python-repoze-lru
python-repoze-who
python-requests
python-retrying
python-rfc3986
python-routes
python-rtslib
python-ryu
python-saharaclient
python-saslwrapper
python-scss
python-semantic_version
python-simplegeneric
python-simplejson
python-sqlalchemy
python-sqlparse
python-stevedore
python-swiftclient
python-tablib
python-taskflow
python-tempita
python-testtools
python-tooz
python-traceback2
python-troveclient
python-unicodecsv
python-unittest2
python-urllib3
python-urwid
python-versiontools
python-voluptuous
python-warlock
python-webob
python-websockify
python-webtest
python-wrapt
python-XStatic
python-XStatic-Angular
python-XStatic-Angular-Bootstrap
python-XStatic-Angular-Gettext
python-XStatic-Angular-lrdragndrop
python-XStatic-Angular-Mock
python-XStatic-Bootstrap-Datepicker
python-XStatic-Bootstrap-SCSS
python-XStatic-D3
python-XStatic-Font-Awesome
python-XStatic-Hogan
python-XStatic-Jasmine
python-XStatic-jQuery
python-XStatic-JQuery-Migrate
python-XStatic-JQuery-quicksearch
python-XStatic-JQuery-TableSorter
python-XStatic-jquery-ui
python-XStatic-JSEncrypt
python-XStatic-Magic-Search
python-XStatic-QUnit
python-XStatic-Rickshaw
python-XStatic-smart-table
python-XStatic-Spin
python-XStatic-termjs
python-zope-interface
pytz
qemu-img
qemu-kvm
qemu-kvm-common
rabbitmq-server
radvd
roboto-fontface-common
roboto-fontface-fonts
rsyslog-mmjsonparse
ruby-augeas
rubygem-rgen
ruby-shadow
saslwrapper
scipy
scrub
SDL
seabios-bin
seavgabios-bin
sg3_utils
sg3_utils-libs
sgabios-bin
sos
spice-server
suitesparse
supermin5
sysfsutils
syslinux
syslinux-extlinux
targetcli
tbb
tcl
tk
unbound-libs
unixODBC
urw-fonts
usbredir
web-assets-filesystem
wxBase
wxGTK
wxGTK-gl
xinetd
xorg-x11-font-utils
yajl
