logfile=/var/log/murmur/murmur.log
pidfile=/var/run/murmur.pid
port=64738
welcometext=SF mumble server hosted at {{ fqdn }}
suggestPushToTalk=true

# Security
sendversion=false
legacyPasswordHash=false
allowping=false
users=100
channelname=[ \\-=\\w\\#\\[\\]\\{\\}\\(\\)\\@\\|]+
username=[-=\\w\\[\\]\\{\\}\\(\\)\\@\\|\\.]+
{% if mumble['password'] %}
serverpassword={{ mumble['password'] }}
{% endif %}
