[Unit]
Description=Run LodgeIt.
After=syslog.target network.target

[Service]
Type=simple
ExecStartPre=/usr/libexec/wait4mariadb
ExecStart=/usr/bin/lodgeit-manage.py runserver

[Install]
WantedBy=multi-user.target
