[Unit]
Description=Run gnocchi-statsd
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/gnocchi-statsd

[Install]
WantedBy=multi-user.target
