---
# This file is managed by sfconfig.sh, don't edit.
# This playbook applies puppet and ansible roles.

- hosts: all
  roles:
    - sf-base

- hosts: mysql
  roles:
    - sf-mysql

{% for host in inventory %}
- hosts: {{ host['hostname'] }}
  roles:
{% for role in host['rolesname'] %}    - {{ role }}
{% endfor %}
  post_tasks:
    - include: /etc/ansible/tasks/puppet.yml puppet_statement="{{ host['puppet_statement'] }}"

{% endfor %}
