<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Cache-control" content="no-cache, max-age=0">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/topmenu.js"></script>
    <script src="welcome.js"></script>
</head>

<body ng-app="sfWelcome" ng-controller="mainController">
    <div class="container">
        <h3>Hosted projects</h3>
        <div class="panel panel-primary" ng-repeat="project in Projects">
            <div class="panel-heading">
                <h3 class="panel-title">{{ project.name }} - {{ project.description }}</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item"><span class="glyphicon glyphicon-home"> Website: <a href="{{ project.website }}">{{ project.website }}</a></span></li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-info-sign"> Documentation: <a href="{{ project.documentation }}">{{ project.documentation }}</a></span></li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-barcode"> Issue-tracker: <a href="{{ project['issue-tracker'] }}">{{ project['issue-tracker'] }}</a></span></li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-envelope"> Contact:
                        <ul><li ng-repeat="(id, contact) in project.contacts"><a href="mailto:{{ contact }}">{{ contact }}</a></li></ul>
                    </span></li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-envelope"> Mailing-list:
                        <ul><li ng-repeat="(id, contact) in project['mailing-lists']"><a href="mailto:{{ contact }}">{{ contact }}</a></li></ul>
                    </span></li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-cube-black"> Repositories:
                        <ul><li ng-repeat="(id, repo) in project['source-repositories']"><a href="/r/gitweb?p={{ repo }}.git;a=summary">{{ repo }}</a></li></ul>
                    </span></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
