[Unit]
Description=Gerrit Service
After=syslog.target network.target

[Service]
Type=simple
User=root
Group=root
PIDFile=/var/run/gerritbot.pid
ExecStart=/usr/bin/gerritbot /etc/gerritbot.conf
ExecStop=/usr/bin/kill -9 $MAINPID

[Install]
WantedBy=multi-user.target
